<div class="modal" ng-controller="NewKisBpmAssignmentPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
            	<style>
					.roles-p {
						background: #fff;
						border: 1px solid #CCCCCC;
						height: 34px;
						line-height: 34px;
						overflow: hidden;
						padding: 0px 8px;
					}
				</style>
				
            	<div class="row row-no-gutter">
            		<div class="form-group">
            			<label for="groupField">表达式</label>
            			<div>
	            			<input type="text" class="form-control" name="assignee" ng-model="assignment.assignee">
            			</div>
            		</div>
            		<div class="form-group">
            			<label for="groupField">环节选择类型</label>
            			<div>
	            			<select class="form-control" name="showStatus">
	            				<option value="" ng-selected="assignment.showStatus == ''">请选择</option>
	            				<option value="0" ng-selected="assignment.showStatus == '0'">部门</option>
	            				<option value="1" ng-selected="assignment.showStatus == '1'">角色</option>
	            				<option value="2" ng-selected="assignment.showStatus == '2'">人员</option>
	            			</select>
            			</div>
					</div>
            		<div class="form-group">
            			<label for="groupField">是否过滤其他部门</label>
            			<div>
	            			<select class="form-control" name="filterStatus">
	            				<option value="" ng-selected="assignment.filterStatus == ''">请选择</option>
	            				<option value="0" ng-selected="assignment.filterStatus == '0'">不过滤</option>
	            				<option value="1" ng-selected="assignment.filterStatus == '1'">过滤</option>
	            			</select>
            			</div>
            		</div>
            		<div class="form-group">
            			<label for="groupField">选择角色</label>
            			<div>
            				<p id="rolesShow" class="roles-p" ng-click="getRoleList();">{{roleStr}}</p>
            			</div>
            		</div>
            		<div class="form-group">
            			<label for="groupField">选择部门</label>
            			<div>
            				<p id="orgsShow" class="roles-p" ng-click="getOrgList();">{{orgStr}}</p>
            			</div>
            		</div>
            	</div>
            	
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
